# Instalação e Importação das Dependências

Instalação das Bibliotecas

In [ ]:
!pip install pandas
!pip install numpy

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.19.5)

Importação das bibliotecas

In [ ]:
import pandas as pd
import numpy as np

# Series

Criando uma Serie

In [ ]:
base = [1,3,5,7,9,12,15,18,21,24]

data = pd.Series(base)

print(data)

print(type(data))

0     1
1     3
2     5
3     7
4     9
5    12
6    15
7    18
8    21
9    24
dtype: int64
<class 'pandas.core.series.Series'>

In [ ]:
data = pd.Series([1,3,5,7,9,12,15,18,21,24])

print(data) # Será exibido o índice padrão e os dados transformados em elementos da Serie

0     1
1     3
2     5
3     7
4     9
5    12
6    15
7    18
8    21
9    24
dtype: int64

In [ ]:
print(data.head()) # Retorna os 5 primeiros elementos

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [ ]:
data2 = pd.Series(['Ana', 'Carlos', 'Diego', 'Fernando', 'Maria', 'Paulo'])

print(data2)

0         Ana
1      Carlos
2       Diego
3    Fernando
4       Maria
5       Paulo
dtype: object

In [ ]:
nomes = ['Ana', 'Carlos', 'Diego', 'Fernando', 'Maria', 'Paulo']

data3 = pd.Series(data = nomes)

print(data3)

0         Ana
1      Carlos
2       Diego
3    Fernando
4       Maria
5       Paulo
dtype: object

In [ ]:
# Definindo um indice personalizado

indice = [1,2,3,4,5,6]
nomes = ['Ana', 'Carlos', 'Diego', 'Fernando', 'Maria', 'Paulo']

data4 = pd.Series(data = nomes,
                  index = indice)

print(data4)

1         Ana
2      Carlos
3       Diego
4    Fernando
5       Maria
6       Paulo
dtype: object

In [ ]:
# Integrando uma array numpy em uma Serie
nomes = np.array(['Ana', 'Carlos', 'Diego', 'Fernando', 'Maria', 'Paulo'])

data5 = pd.Series(data = nomes)

print(data5)

0         Ana
1      Carlos
2       Diego
3    Fernando
4       Maria
5       Paulo
dtype: object

In [ ]:
# Tudo em Python é objeto, logo, até mesmo um método pode se tornar um elemento de uma Serie

funcoes = [input, print]

data6 = pd.Series(data = funcoes)

print(data6)

0    <bound method Kernel.raw_input of <google.cola...
1                            <built-in function print>
dtype: object

In [ ]:
# Integrando funções com series
paises = ['Argentina', 'Brasil', 'Canada', 'Estados Unidos', 'Italia', 'Mexico']

data7 = pd.Series(data = paises, index = np.arange(0,6)) # Valores de índice devem coincidir com os valores de elementos

print(data7)

0         Argentina
1            Brasil
2            Canada
3    Estados Unidos
4            Italia
5            Mexico
dtype: object

Conferindo o tipo de dado

In [ ]:
print(type(data))

<class 'pandas.core.series.Series'>

Verificando o tamanho da Serie

In [ ]:
print(data.index)
# retornará os valores de índice, nesse caso, iniciando em 0 e terminando em 10
# referente a Serie que são números de 1 a 10

RangeIndex(start=0, stop=10, step=1)

Criando uma Serie a partir de um dicionário

In [ ]:
# No caso de um dicionário, os dados das chaves irão ser atribuídos ao índice da
# Serie, enquanto os valores serão atribuídos como os dados padrão

dicionario = {'Nome':'Fernando', 'Idade': 33, 'Altura':1.90}

serie_dicio = pd.Series(dicionario)

print(serie_dicio)

Nome      Fernando
Idade           33
Altura         1.9
dtype: object

In [ ]:
meses = {1:'Janeiro', 2:'Fevereiro', 3:'Março', 4:'Abril'}

serie_meses = pd.Series(meses)

print(serie_meses)

1      Janeiro
2    Fevereiro
3        Março
4        Abril
dtype: object

In [ ]:
# Somando elementos de duas Series

nomes1 = ['Ana', 'Carlos', 'Betina', 'Maria', 'Rafael']
nomes2 = ['Ana', 'Alberto', 'Maria', 'Paulo', 'Tania']

data_1 = pd.Series([1,2,3,4,5], index = nomes1)
# Por justaposição a lista [1,2,3,4,5] irá assumir a posição de data
data_2 = pd.Series([1,2,3,4,5], index = nomes2)

data_3 = data_1 + data_2

print(data_3)
# Irá retornar as somas dos índices dos elementos repetidos, por exemplo,
# Maria em nomes1 possui valor de índice 4, e em nomes2 valor de índice 3
# pois definimos que o índice da Serie iniciaria em 1, no retorno, Maria
# aparecerá com valor 7, e onde não houverem dados com valores a serem
# somados o retorno será Nan

Alberto    NaN
Ana        2.0
Betina     NaN
Carlos     NaN
Maria      7.0
Paulo      NaN
Rafael     NaN
Tania      NaN
dtype: float64

# DataFrames

In [ ]:
base = {'Nomes':['Ana', 'Carlos', 'Gabriela', 'Maria'],
        'Fones':[991384562, 981128449, 999510014, 991120991]}

data = pd.DataFrame(base)

print(data)

      Nomes      Fones
0       Ana  991384562
1    Carlos  981128449
2  Gabriela  999510014
3     Maria  991120991

In [ ]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Nomes   4 non-null      object
 1   Fones   4 non-null      int64
dtypes: int64(1), object(1)
memory usage: 192.0+ bytes
None

In [ ]:
print(data.describe())

              Fones
count  4.000000e+00
mean   9.907860e+08
std    7.524343e+06
min    9.811284e+08
25%    9.886229e+08
50%    9.912528e+08
75%    9.934159e+08
max    9.995100e+08

In [ ]:
base = {'Nomes':['Ana', 'Carlos', 'Gabriela', 'Maria'],
        'Fones':[991384562, 981128449, 999510014, 991120991]}

data = pd.DataFrame(base)

print(data)
print(type(data))

      Nomes      Fones
0       Ana  991384562
1    Carlos  981128449
2  Gabriela  999510014
3     Maria  991120991
<class 'pandas.core.frame.DataFrame'>

In [ ]:
data = pd.DataFrame(data = np.random.randn(6,5),
                    index = [1,2,3,4,5,6],
                    columns = ['a', 'b', 'c', 'd', 'e'])

print(data)

          a         b         c         d         e
1 -0.660239 -2.384071 -0.132480 -0.825165  0.059957
2 -1.520237 -0.522214 -0.455825  0.113304  0.773271
3  0.132948  1.173114  0.023317  0.216056  0.122682
4  0.581321 -0.852377  1.134604 -0.274903  0.763640
5  1.801060  0.337714 -0.535462 -1.087883  0.566910
6 -1.266000  0.318503  0.342859  0.755646  1.153638

In [ ]:
# Extraindo informações apenas de uma coluna, a mesma será considerada uma Serie

print(data.columns) # Retornará quais são as colunas do dataframe

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [ ]:
print(data.index) # Retornará o índice interno do dataframe

Int64Index([1, 2, 3, 4, 5, 6], dtype='int64')

In [ ]:
print(data['c']) # Retornará apenas os dados da coluna c

1   -0.132480
2   -0.455825
3    0.023317
4    1.134604
5   -0.535462
6    0.342859
Name: c, dtype: float64

In [ ]:
print(type(data)) # Retornará como tipo de dado pandas.core.series.DataFrame

<class 'pandas.core.frame.DataFrame'>

In [ ]:
print(type(data['c'])) # Retornará como tipo de dado pandas.core.series.Series

<class 'pandas.core.series.Series'>

In [ ]:
# Exibindo dados de uma coluna / Método alternativo

print(data.d)

1   -0.825165
2    0.113304
3    0.216056
4   -0.274903
5   -1.087883
6    0.755646
Name: d, dtype: float64

In [ ]:
# Extraindo dados de mais de uma coluna

print(data[['c', 'e']]) # Notação de lista dentro de lista

          c         e
1 -0.132480  0.059957
2 -0.455825  0.773271
3  0.023317  0.122682
4  1.134604  0.763640
5 -0.535462  0.566910
6  0.342859  1.153638

In [ ]:
# Criando novas colunas manualmente

data['f'] = data['a'] + data['e']

print(data)

          a         b         c         d         e         f
1 -0.660239 -2.384071 -0.132480 -0.825165  0.059957 -0.600282
2 -1.520237 -0.522214 -0.455825  0.113304  0.773271 -0.746966
3  0.132948  1.173114  0.023317  0.216056  0.122682  0.255630
4  0.581321 -0.852377  1.134604 -0.274903  0.763640  1.344961
5  1.801060  0.337714 -0.535462 -1.087883  0.566910  2.367970
6 -1.266000  0.318503  0.342859  0.755646  1.153638 -0.112362

In [ ]:
# Removendo uma coluna
data = data.drop('f', axis=1)

print(data)

          a         b         c         d         e
1 -0.660239 -2.384071 -0.132480 -0.825165  0.059957
2 -1.520237 -0.522214 -0.455825  0.113304  0.773271
3  0.132948  1.173114  0.023317  0.216056  0.122682
4  0.581321 -0.852377  1.134604 -0.274903  0.763640
5  1.801060  0.337714 -0.535462 -1.087883  0.566910
6 -1.266000  0.318503  0.342859  0.755646  1.153638

In [ ]:
# Removendo uma coluna / Método alternativo
data.drop('e', axis=1, inplace=True)

print(data)

          a         b         c         d
1 -0.660239 -2.384071 -0.132480 -0.825165
2 -1.520237 -0.522214 -0.455825  0.113304
3  0.132948  1.173114  0.023317  0.216056
4  0.581321 -0.852377  1.134604 -0.274903
5  1.801060  0.337714 -0.535462 -1.087883
6 -1.266000  0.318503  0.342859  0.755646

In [ ]:
# Removendo uma coluna via método do sistema

del data['b'] # Removerá toda a coluna b

print(data)

          a         c         d
1 -0.660239 -0.132480 -0.825165
2 -1.520237 -0.455825  0.113304
3  0.132948  0.023317  0.216056
4  0.581321  1.134604 -0.274903
5  1.801060 -0.535462 -1.087883
6 -1.266000  0.342859  0.755646

In [ ]:
# Ordenando os elementos de uma coluna

data = pd.DataFrame(data = np.random.randn(6,5),
                    index = [1,2,3,4,5,6],
                    columns = ['a', 'b', 'c', 'd', 'e'])

print(data)

data.sort_values(by = 'b', inplace = True) # Ordenará os elementos da coluna b de forma crescente

print(data)

          a         b         c         d         e
1 -0.257711  0.009830 -1.270163 -0.089428  0.851975
2  0.062541  0.208227 -0.360497  0.138461 -0.268417
3 -0.205691  0.574546  0.400857 -0.315535 -1.059216
4  0.412966  0.431047  0.232933 -1.604191  0.167698
5  0.014779 -0.163835  2.410644 -0.386230 -1.851813
6  1.384207 -0.415244 -1.571617  0.029496  0.585236
          a         b         c         d         e
6  1.384207 -0.415244 -1.571617  0.029496  0.585236
5  0.014779 -0.163835  2.410644 -0.386230 -1.851813
1 -0.257711  0.009830 -1.270163 -0.089428  0.851975
2  0.062541  0.208227 -0.360497  0.138461 -0.268417
4  0.412966  0.431047  0.232933 -1.604191  0.167698
3 -0.205691  0.574546  0.400857 -0.315535 -1.059216

In [ ]:
# Exibindo em tela uma linha inteira

print(data.loc[3])

a   -0.205691
b    0.574546
c    0.400857
d   -0.315535
e   -1.059216
Name: 3, dtype: float64

In [ ]:
# Buscando um elemento específico do DataFrame

print(data.loc[2, 'b']) # Linha 2, Coluna b

0.20822720258938007

In [ ]:
# Exibindo em tela uma seleção de elementos específicos

print(data.loc[[2, 3], ['a', 'b', 'c']])

          a         b         c
2  0.062541  0.208227 -0.360497
3 -0.205691  0.574546  0.400857

In [ ]:
# Buscando elementos usando da notação padrão Python e Numpy

print(data.iloc[1:3, 0:3]) # Buscando os mesmos elementos anteriores, porém respeitando a notação padrão de índices que inicia em 0, diferente do loc[] que é parametrizado com os nomes das linhas e colunas

          a         b         c
5  0.014779 -0.163835  2.410644
1 -0.257711  0.009830 -1.270163

In [ ]:
# Buscando elementos de acordo com alguma estrutura condicional

print(data > 0) # Retornará True para os elementos que validarem esta condição

       a      b      c      d      e
6   True  False  False   True   True
5   True  False   True  False  False
1  False   True  False  False   True
2   True   True  False   True  False
4   True   True   True  False   True
3  False   True   True  False  False

## Operações Matemáticas Simples

In [ ]:
# Usando de funções embutidas do sistema

data = pd.DataFrame(data = np.random.randn(6,5),
                    index = [1,2,3,4,5,6],
                    columns = ['a', 'b', 'c', 'd', 'e'])

print(data)

print(data['b'].sum()) # Retornará a soma dos elementos da coluna b

          a         b         c         d         e
1 -0.415259 -0.501669 -0.713782 -2.082592  1.616589
2 -0.817858 -0.870572 -0.424982 -0.573658  0.865107
3 -0.411879  0.638088  1.045519 -0.177621  0.676227
4  0.592795  1.111397 -0.461058  0.704395 -1.043495
5 -1.967252 -0.905126 -0.189190 -0.037243 -0.159245
6 -0.420590  2.015701  2.433488  0.039147  1.283519
1.4878181627136704

In [ ]:
# Implementando um valor a todos elementos de um dataframe

data = data + 1 # Irá somar 1 a todos os elementos do dataframe original

print(data)

          a         b         c         d         e
1  0.584741  0.498331  0.286218 -1.082592  2.616589
2  0.182142  0.129428  0.575018  0.426342  1.865107
3  0.588121  1.638088  2.045519  0.822379  1.676227
4  1.592795  2.111397  0.538942  1.704395 -0.043495
5 -0.967252  0.094874  0.810810  0.962757  0.840755
6  0.579410  3.015701  3.433488  1.039147  2.283519

In [ ]:
# Usando de funções personalizadas

def soma(x):
  return x + x

print(data['b'].apply(soma)) # Retornará cada elemento da coluna b somado com ele próprio

1    0.996661
2    0.258855
3    3.276177
4    4.222794
5    0.189747
6    6.031401
Name: b, dtype: float64

In [ ]:
def ao_quadrado(num):
  return num ** 2

print(data['a'].apply(ao_quadrado)) # Retornará cada um dos elementos da coluna 1 elevados a segunda potência

1    0.341922
2    0.033176
3    0.345886
4    2.536996
5    0.935577
6    0.335716
Name: a, dtype: float64

In [ ]:
def ao_quadrado(num):
  return num ** 2

print(data.iloc[0:1, 1:2].apply(ao_quadrado)) # Retornará o elemento da linha 1, coluna b, elevado a segunda potência

          b
1  0.248333

In [ ]:
# Aplicando função matemática via lambda

print(data['d'].apply(lambda x: x ** 2)) # Retornará cada um dos elementos de d elevados a segunda potência

1    1.172005
2    0.181768
3    0.676307
4    2.904963
5    0.926901
6    1.079826
Name: d, dtype: float64

## Estruturas Condicionais Aplicadas

In [ ]:
# Aplicação de estruturas condicionais específicas

data = pd.DataFrame(data = np.random.randn(6,5),
                    index = [1,2,3,4,5,6],
                    columns = ['a', 'b', 'c', 'd', 'e'])

print(data)
print(data['a']) # Retorna toda a coluna 'a'
print(data['a'] < 0) # Retorna True para os elementos da coluna 'a' que forem menores que 0

          a         b         c         d         e
1  0.105677  0.826157 -0.873715 -0.295809  2.009200
2 -0.617518 -0.831652 -0.839997  0.309109 -0.811061
3  0.759312  0.549397 -0.147590  0.763669  1.420672
4 -0.188942  0.944688  0.989022 -1.040349  0.375211
5 -1.761494  0.004413  0.333562  1.070816 -1.359066
6 -0.563966 -0.292578  1.179116  0.708826 -0.502686
1    0.105677
2   -0.617518
3    0.759312
4   -0.188942
5   -1.761494
6   -0.563966
Name: a, dtype: float64
1    False
2     True
3    False
4     True
5     True
6     True
Name: a, dtype: bool

In [ ]:
data = pd.DataFrame(data = np.random.randn(6,5),
                    index = [1,2,3,4,5,6],
                    columns = ['a', 'b', 'c', 'd', 'e'])

print(data) # Retorna todo o DataFrame
print(data['a']) # Retorna toda a coluna 'a'

data2 = data[data['a'] < 0] # Retorna um novo DataFrame sem os elementos da coluna 'a' que forem menores que 0

print(data2)

          a         b         c         d         e
1 -1.652438  0.234257 -0.620103  1.454758 -0.614171
2  0.272817  0.222442 -0.797086  0.292053 -1.527912
3  0.181929  0.209484  0.874580 -0.380464  1.276958
4 -0.303849  0.972203 -0.158802  0.639436 -0.416895
5 -0.189525  0.073232  0.017612 -1.635090  0.199823
6  0.542742 -0.262157  0.519452  2.078003 -0.727283
1   -1.652438
2    0.272817
3    0.181929
4   -0.303849
5   -0.189525
6    0.542742
Name: a, dtype: float64
          a         b         c         d         e
1 -1.652438  0.234257 -0.620103  1.454758 -0.614171
4 -0.303849  0.972203 -0.158802  0.639436 -0.416895
5 -0.189525  0.073232  0.017612 -1.635090  0.199823

In [ ]:
data = pd.DataFrame(data = np.random.randn(6,5),
                    index = [1,2,3,4,5,6],
                    columns = ['a', 'b', 'c', 'd', 'e'])

print(data) # Retorna todo o DataFrame
#print(data['a']) # Retorna toda a coluna 'a'
print(data[data['a'] < 0]) # Retorna um novo DataFrame sem os elementos da coluna 'a' que forem menores que 0
print(data[data['a'] < 0]['e']) # Retorna um novo DataFrame usando como referência os elementos da coluna 'a' que forem menores que 0 mas retornando os elementos equivalentes da coluna 'e'

          a         b         c         d         e
1  0.768791  0.686690 -0.395777  0.826573  0.569294
2 -0.002375 -0.688911  0.534127  0.489858 -1.853215
3 -0.041266 -1.394481  1.104799  2.586314  0.464307
4  1.213436 -1.179166 -1.236516 -1.359129 -1.989347
5 -1.649477  0.182717 -0.551402  1.001786  1.039084
6  0.560760  1.055646 -0.370225  0.324462  1.664000
          a         b         c         d         e
2 -0.002375 -0.688911  0.534127  0.489858 -1.853215
3 -0.041266 -1.394481  1.104799  2.586314  0.464307
5 -1.649477  0.182717 -0.551402  1.001786  1.039084
2   -1.853215
3    0.464307
5    1.039084
Name: e, dtype: float64

In [ ]:
data2 = data[data['a'] < 0]['e']

print(data2)

2   -1.853215
3    0.464307
5    1.039084
Name: e, dtype: float64

In [ ]:
# Aplicando estruturas condicionais compostas
# Operador &

data = pd.DataFrame(data = np.random.randn(6,5),
                    index = [1,2,3,4,5,6],
                    columns = ['a', 'b', 'c', 'd', 'e'])

print(data) # Retorna todo o DataFrame
#print(data['a']) # Retorna toda a coluna 'a'
print(data[(data['a'] < 0) & (data['b'] > 1)]) # Retorna um novo DataFrame sem os elementos da coluna 'a' que forem menores que 0 e sem oselementos de 'b' que forem maiores que 1

# Operador & é equivalente ao operador and, porém, permite inspeções entre dados internos a DataFrames

          a         b         c         d         e
1 -2.342523 -1.484989 -0.906946  1.784503  1.160682
2  0.244389  1.170695  1.290602  0.864448  0.548272
3  0.726424 -0.834833  1.006129  0.157078  0.115930
4 -1.228348 -0.683092  0.159520 -0.129590  0.888072
5  0.834671 -1.085667 -1.884535 -0.472604  0.042067
6 -0.822679 -0.347766  0.537429 -0.043836  1.079369
Empty DataFrame
Columns: [a, b, c, d, e]
Index: []

In [ ]:
data2 = data[(data['a'] < 0) & (data['b'] > 1)]

print(data2)

Empty DataFrame
Columns: [a, b, c, d, e]
Index: []

In [ ]:
# Operador |

data = pd.DataFrame(data = np.random.randn(6,5),
                    index = [1,2,3,4,5,6],
                    columns = ['a', 'b', 'c', 'd', 'e'])

print(data) # Retorna todo o DataFrame
#print(data['a']) # Retorna toda a coluna 'a'
print(data[(data['a'] < 0) | (data['b'] > 1)]) # Retorna um novo DataFrame sem os elementos da coluna 'a' que forem menores que 0 ou sem oselementos de 'b' que forem maiores que 1

# Operador I é equivalente ao operador or, porém, permite inspeções entre dados internos a DataFrames

          a         b         c         d         e
1 -0.831476  1.307496  3.513154  0.976661 -0.726687
2  1.062278  0.173122  0.822774  0.363105  2.962542
3 -0.321154  0.198088 -0.815852  0.867866 -2.422870
4  0.514817 -0.147455 -0.145935 -0.568461 -0.568122
5  0.778712  2.540260  0.138506  0.430642  0.149920
6 -1.133987  0.713856  1.223171 -1.094095  0.333326
          a         b         c         d         e
1 -0.831476  1.307496  3.513154  0.976661 -0.726687
3 -0.321154  0.198088 -0.815852  0.867866 -2.422870
5  0.778712  2.540260  0.138506  0.430642  0.149920
6 -1.133987  0.713856  1.223171 -1.094095  0.333326

In [ ]:
# Atualizando um DataFrame de acordo com uma condicional

data_positivos = data > 0 # Apenas define a regra
data = data[data_positivos] # Atualiza os dados da base original de acordo com a regra, porém, onde a condição imposta não é validade, dados ficam com status Nan, ou seja, dados ausentes

print(data)

          a         b         c         d         e
1       NaN  1.307496  3.513154  0.976661       NaN
2  1.062278  0.173122  0.822774  0.363105  2.962542
3       NaN  0.198088       NaN  0.867866       NaN
4  0.514817       NaN       NaN       NaN       NaN
5  0.778712  2.540260  0.138506  0.430642  0.149920
6       NaN  0.713856  1.223171       NaN  0.333326

In [ ]:
# Resetando o índice, e trazendo o DataFrame para suas configurações originais

data = pd.DataFrame(data = np.random.randn(6,5),
                    index = [1,2,3,4,5,6],
                    columns = ['a', 'b', 'c', 'd', 'e'])

print(data) # Retorna todo o DataFrame

data = data.reset_index() # Coloca o índice interno do DataFrame como o índice principal, tornando o seu índice personalizado apenas mais uma coluna do DataFrame
# Usar data.reset_index(inplace = true) caso esteja rodando o DataFrame no Colab

print(data)

          a         b         c         d         e
1 -0.184005 -1.121748  0.503725 -1.589877 -0.094410
2 -0.248307  1.445448  0.078634  0.257178 -1.663176
3  0.725782  0.341470  0.948590 -0.166461  0.083164
4  1.252852 -2.211058  0.893349 -1.459644 -0.668825
5  0.775479 -0.736833 -0.235970  1.291084 -1.741621
6  0.567714 -0.292363  0.484291  0.167546 -0.818537
   index         a         b         c         d         e
0      1 -0.184005 -1.121748  0.503725 -1.589877 -0.094410
1      2 -0.248307  1.445448  0.078634  0.257178 -1.663176
2      3  0.725782  0.341470  0.948590 -0.166461  0.083164
3      4  1.252852 -2.211058  0.893349 -1.459644 -0.668825
4      5  0.775479 -0.736833 -0.235970  1.291084 -1.741621
5      6  0.567714 -0.292363  0.484291  0.167546 -0.818537

In [ ]:
data = pd.DataFrame(data = np.random.randn(6,5),
                    index = [1,2,3,4,5,6],
                    columns = ['a', 'b', 'c', 'd', 'e'])

coluna_V = 'V1 V2 V3 V4 V5 V6'.split()
data['IdV'] = coluna_V

print(data)

data = data.set_index('IdV')

print(data)

          a         b         c         d         e IdV
1 -0.164515  1.433374 -2.928618 -0.528473  0.366761  V1
2 -1.977403  0.974216 -1.202156 -1.125922  1.990565  V2
3 -0.623746 -1.733326  2.011146 -1.472272  0.121073  V3
4 -2.041764 -0.490723 -0.185645  0.014834  0.230957  V4
5 -0.518234  2.280337 -0.335527  0.023184  0.965867  V5
6  0.012757  0.006243  0.650792 -1.388848  0.191506  V6
            a         b         c         d         e
IdV
V1  -0.164515  1.433374 -2.928618 -0.528473  0.366761
V2  -1.977403  0.974216 -1.202156 -1.125922  1.990565
V3  -0.623746 -1.733326  2.011146 -1.472272  0.121073
V4  -2.041764 -0.490723 -0.185645  0.014834  0.230957
V5  -0.518234  2.280337 -0.335527  0.023184  0.965867
V6   0.012757  0.006243  0.650792 -1.388848  0.191506

In [ ]:
# Índices com multiníveis

indice1 = ['A1', 'A1', 'A1', 'A2', 'A2', 'A2']
indice2 = [1,2,3,1,2,3]

indice3 = list(zip(indice1, indice2)) # Criamos uma lista de tuplas via zip()
indice3 = pd.MultiIndex.from_tuples(indice3) # Geramos um índice multinível via MultiIndex.from_tuples()

print(indice3)

data8 = pd.DataFrame(data = np.random.randn(6,2),
                     index = indice3)

print(data8)

MultiIndex([('A1', 1),
            ('A1', 2),
            ('A1', 3),
            ('A2', 1),
            ('A2', 2),
            ('A2', 3)],
           )
             0         1
A1 1 -0.747154 -0.628563
   2 -0.200570 -1.469755
   3  0.345957  0.850436
A2 1 -0.646524 -0.750069
   2  0.002087  0.131923
   3 -0.415588  1.117490

In [ ]:
indice1 = ['Nivel1', 'Nivel1', 'Nivel1', 'Nivel2', 'Nivel2', 'Nivel2']
indice2 = ['SubNivel1','SubNivel2','SubNivel3','SubNivel1','SubNivel2','SubNivel3']

indice3 = list(zip(indice1, indice2)) # Criamos uma lista de tuplas via zip()
indice3 = pd.MultiIndex.from_tuples(indice3) # Geramos um índice multinível via MultiIndex.from_tuples()

data8 = pd.DataFrame(data = np.random.randn(6,2),
                     index = indice3,
                     columns = ['Coluna1', 'Coluna2'])

print(data8)

                   Coluna1   Coluna2
Nivel1 SubNivel1 -0.130429 -1.461131
       SubNivel2  1.020017  0.547714
       SubNivel3  0.732596 -0.016046
Nivel2 SubNivel1 -0.552611 -0.468522
       SubNivel2 -0.413435  1.168871
       SubNivel3  0.373371 -0.564922

In [ ]:
# Acessando subnível

print(data8.loc['Nivel2'].loc['SubNivel3'])

Coluna1    0.373371
Coluna2   -0.564922
Name: SubNivel3, dtype: float64

In [ ]:
# Acessando nível ou subnível / método alternativo

print(data8.xs('Nivel2')) # Retornará os subníveis atrelados a este nível

            Coluna1   Coluna2
SubNivel1 -0.552611 -0.468522
SubNivel2 -0.413435  1.168871
SubNivel3  0.373371 -0.564922

In [ ]:
# Atribuindo nomes para os níveis e subníveis

indice1 = ['Nivel1', 'Nivel1', 'Nivel1', 'Nivel2', 'Nivel2', 'Nivel2']
indice2 = ['SubNivel1','SubNivel2','SubNivel3','SubNivel1','SubNivel2','SubNivel3']

indice3 = list(zip(indice1, indice2))
indice3 = pd.MultiIndex.from_tuples(indice3)

data8 = pd.DataFrame(data = np.random.randn(6,2),
                     index = indice3,
                     columns = ['Coluna1', 'Coluna2'])

data8.index.names = ['NIVEIS', 'SUBNIVEIS']

print(data8)

                   Coluna1   Coluna2
NIVEIS SUBNIVEIS
Nivel1 SubNivel1 -0.256268  1.491571
       SubNivel2 -0.002988  0.181314
       SubNivel3 -1.260985 -2.286563
Nivel2 SubNivel1 -0.009038 -0.130245
       SubNivel2 -0.526559 -1.815398
       SubNivel3 -0.372813  0.450022

In [ ]:
# Gerando indices multinível via pivot_table( )

data = pd.DataFrame({'A':['1', '1', '1', '2', '2', '2'],
                     'B':['3', '3', '2', '2', '1', '1'],
                     'C':['x', 'y', 'x', 'y', 'x', 'y'],
                     'D':[1,2,3,9,8,7]})

data.pivot_table(values = 'D', index = ['A', 'B'], columns = ['C'])

print(data)

   A  B  C  D
0  1  3  x  1
1  1  3  y  2
2  1  2  x  3
3  2  2  y  9
4  2  1  x  8
5  2  1  y  7

## Entrada de Dados

In [ ]:
# Importando dados de um arquivo para um dataframe

import numpy as np
import pandas as pd

data = pd.read_csv('/content/sample_data/mnist_test.csv')
# Usar pd.read_excel() quando for importar dados de uma planilha com múltiplas abas

print(data)

      7  0  0.1  0.2  0.3  0.4  ...  0.662  0.663  0.664  0.665  0.666  0.667
0     2  0    0    0    0    0  ...      0      0      0      0      0      0
1     1  0    0    0    0    0  ...      0      0      0      0      0      0
2     0  0    0    0    0    0  ...      0      0      0      0      0      0
3     4  0    0    0    0    0  ...      0      0      0      0      0      0
4     1  0    0    0    0    0  ...      0      0      0      0      0      0
...  .. ..  ...  ...  ...  ...  ...    ...    ...    ...    ...    ...    ...
9994  2  0    0    0    0    0  ...      0      0      0      0      0      0
9995  3  0    0    0    0    0  ...      0      0      0      0      0      0
9996  4  0    0    0    0    0  ...      0      0      0      0      0      0
9997  5  0    0    0    0    0  ...      0      0      0      0      0      0
9998  6  0    0    0    0    0  ...      0      0      0      0      0      0

[9999 rows x 785 columns]

In [ ]:
# Exportando de um dataframe para um arquivo

data.to_csv('base_atualizada.csv')

## Tratamento de Dados

In [ ]:
# Tratamento de dados ausentes/faltantes

import numpy as np
import pandas as pd

data = {'Cidades': ['Porto Alegre', 'Curitiba', np.nan],
        'Estados': ['Paraná', np.nan, 'São Paulo'],
        'Países': ['Brasil', np.nan, np.nan]}

print(data)

{'Cidades': ['Porto Alegre', 'Curitiba', nan], 'Estados': ['Paraná', nan, 'São Paulo'], 'Países': ['Brasil', nan, nan]}

In [ ]:
data = {'Cidades': ['Porto Alegre', 'Curitiba', np.nan],
        'Estados': ['Paraná', np.nan, 'São Paulo'],
        'Países': ['Brasil', np.nan, np.nan]}

data = pd.DataFrame(data)

print(data)

        Cidades    Estados  Países
0  Porto Alegre     Paraná  Brasil
1      Curitiba        NaN     NaN
2           NaN  São Paulo     NaN

In [ ]:
data = data.dropna() # Removerá todas linhas e colunas onde houverem dados faltantes

print(data)

        Cidades Estados  Países
0  Porto Alegre  Paraná  Brasil

In [ ]:
data = data.dropna(thresh = 2) # Removerá todas linhas e colunas onde houverem no mínimo dois dados faltantes

print(data)

        Cidades Estados  Países
0  Porto Alegre  Paraná  Brasil

In [ ]:
data = {'Cidades': ['Porto Alegre', 'Curitiba', np.nan],
        'Estados': ['Paraná', np.nan, 'São Paulo'],
        'Países': ['Brasil', np.nan, np.nan]}

data = pd.DataFrame(data)

data['Cidades'] = data['Cidades'].replace({np.nan: 'Santa Maria'})

print(data)

        Cidades    Estados  Países
0  Porto Alegre     Paraná  Brasil
1      Curitiba        NaN     NaN
2   Santa Maria  São Paulo     NaN

In [ ]:
# Método fillna() para tratar dados ausentes

data = {'Cidades': ['Porto Alegre', 'Curitiba', np.nan],
        'Estados': ['Paraná', np.nan, 'São Paulo'],
        'Países': ['Brasil', np.nan, np.nan]}

data = pd.DataFrame(data)

data = data.fillna(value = 'Dados Ausentes') # Substitui todo campo onde não houverem dados por uma string ou qualquer dado padrão

print(data)

          Cidades         Estados          Países
0    Porto Alegre          Paraná          Brasil
1        Curitiba  Dados Ausentes  Dados Ausentes
2  Dados Ausentes       São Paulo  Dados Ausentes

In [ ]:
# Preenchendo dados faltantes com as médias dos dados antecessores e sucessores

data = {'1º Semestre': [8.2, 8.0, np.nan],
        '2º Semestre': [7.7, np.nan, 8.0],
        'Recuperação': [7.9, np.nan, np.nan]}

data = pd.DataFrame(data)

print(data)

data['1º Semestre'].fillna(value = data['1º Semestre'].mean(), inplace = True)
data['2º Semestre'].fillna(value = data['2º Semestre'].mean(), inplace = True)
data['Recuperação'].fillna(value = data['Recuperação'].mean(), inplace = True)

print(data)

   1º Semestre  2º Semestre  Recuperação
0          8.2          7.7          7.9
1          8.0          NaN          NaN
2          NaN          8.0          NaN
   1º Semestre  2º Semestre  Recuperação
0          8.2         7.70          7.9
1          8.0         7.85          7.9
2          8.1         8.00          7.9

In [ ]:
# Preenchendo dados faltantes com os dados do elemento anterior

data = {'1º Semestre': [8.2, 8.0, np.nan],
        '2º Semestre': [7.7, np.nan, 8.0],
        'Recuperação': [7.9, np.nan, np.nan]}

data = pd.DataFrame(data)

print(data)

data = data.fillna(method = 'ffill')

print(data)

   1º Semestre  2º Semestre  Recuperação
0          8.2          7.7          7.9
1          8.0          NaN          NaN
2          NaN          8.0          NaN
   1º Semestre  2º Semestre  Recuperação
0          8.2          7.7          7.9
1          8.0          7.7          7.9
2          8.0          8.0          7.9

In [ ]:
# Verificando a presença de dados nulos

data = pd.read_csv('/content/sample_data/mnist_test.csv')

data = pd.DataFrame(data)

print(data.isnull())

          7      0    0.1    0.2    0.3  ...  0.663  0.664  0.665  0.666  0.667
0     False  False  False  False  False  ...  False  False  False  False  False
1     False  False  False  False  False  ...  False  False  False  False  False
2     False  False  False  False  False  ...  False  False  False  False  False
3     False  False  False  False  False  ...  False  False  False  False  False
4     False  False  False  False  False  ...  False  False  False  False  False
...     ...    ...    ...    ...    ...  ...    ...    ...    ...    ...    ...
9994  False  False  False  False  False  ...  False  False  False  False  False
9995  False  False  False  False  False  ...  False  False  False  False  False
9996  False  False  False  False  False  ...  False  False  False  False  False
9997  False  False  False  False  False  ...  False  False  False  False  False
9998  False  False  False  False  False  ...  False  False  False  False  False

[9999 rows x 785 columns]

Agrupando dados de acordo com seu tipo / GroupBy

In [ ]:
data = {'Vendedor': ['Ana', 'Paulo', 'Maria', 'Miguel', 'Rafael', 'Ana'],
        'Item': ['Camisa Nike', 'Tênis Adidas', 'Camisa Nike',
                 'Meias Speedo', 'Tênis Nike', 'Camisa Nike'],
        'Valor': [109.90, 299.00, 115.90, 24.99, 289.90, 99.90]}

data = pd.DataFrame(data)

print(data)

  Vendedor          Item   Valor
0      Ana   Camisa Nike  109.90
1    Paulo  Tênis Adidas  299.00
2    Maria   Camisa Nike  115.90
3   Miguel  Meias Speedo   24.99
4   Rafael    Tênis Nike  289.90
5      Ana   Camisa Nike   99.90

In [ ]:
itens = data.groupby('Item') # Irá gerar os dados pelo parâmetro de agrupamento definido

print(itens) # Irá retornar apenas a referência do objeto alocado em memória

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f50b29bf450>

In [ ]:
print(itens.sum()) # Irá retornar os itens agrupados com seus valores somados, nesse caso, o interpretador ignora qualquer coluna de texto

               Valor
Item
Camisa Nike   325.70
Meias Speedo   24.99
Tênis Adidas  299.00
Tênis Nike    289.90

In [ ]:
print(itens.mean()) # Irá retornar os itens agrupados e o valor médio de cada tipo de item, nesse caso, o interpretador ignora qualquer coluna de texto

                   Valor
Item
Camisa Nike   108.566667
Meias Speedo   24.990000
Tênis Adidas  299.000000
Tênis Nike    289.900000

In [ ]:
print(itens.count())# Irá retornar a contagem dos itens agrupados, considerando todas as informações sobre um determinado item

              Vendedor  Valor
Item
Camisa Nike          3      3
Meias Speedo         1      1
Tênis Adidas         1      1
Tênis Nike           1      1

In [ ]:
print(itens.describe())

             Valor                        ...
             count        mean       std  ...     50%     75%     max
Item                                      ...
Camisa Nike    3.0  108.566667  8.082904  ...  109.90  112.90  115.90
Meias Speedo   1.0   24.990000       NaN  ...   24.99   24.99   24.99
Tênis Adidas   1.0  299.000000       NaN  ...  299.00  299.00  299.00
Tênis Nike     1.0  289.900000       NaN  ...  289.90  289.90  289.90

[4 rows x 8 columns]

In [ ]:
vendedores = data.groupby('Vendedor')

print(vendedores.sum().loc['Ana']) # Irá retornar apenas os valores de venda atribuídos a Ana

Valor    209.8
Name: Ana, dtype: float64

## Métodos Aplicados

Alterando o formato de um dataframe

In [ ]:
data = pd.DataFrame(data = np.random.randn(6,5),
                    index = [1,2,3,4,5,6],
                    columns = ['a', 'b', 'c', 'd', 'e'])

print(data) # Retorna todo o DataFrame inicial

data = pd.melt(data) # Transforma linhas em colunas e vice-versa

print(data)

          a         b         c         d         e
1 -0.290964  0.830812 -1.412909 -0.414070  1.075445
2  1.341879  0.878129  0.341998  0.895333  0.720504
3  0.223654  1.324789 -1.844739  1.422179  0.611117
4 -1.840032 -1.365422 -0.249960  0.436028  1.621377
5 -0.446507 -0.359948 -0.374418 -0.663777  0.970123
6  0.537361  1.506146 -0.391321  1.262124  1.163186
   variable     value
0         a -0.290964
1         a  1.341879
2         a  0.223654
3         a -1.840032
4         a -0.446507
5         a  0.537361
6         b  0.830812
7         b  0.878129
8         b  1.324789
9         b -1.365422
10        b -0.359948
11        b  1.506146
12        c -1.412909
13        c  0.341998
14        c -1.844739
15        c -0.249960
16        c -0.374418
17        c -0.391321
18        d -0.414070
19        d  0.895333
20        d  1.422179
21        d  0.436028
22        d -0.663777
23        d  1.262124
24        e  1.075445
25        e  0.720504
26        e  0.611117
27        e  1.621377
28        e  0.970123
29        e  1.163186

Concatenando dados de dois DataFrames

In [ ]:
loja1 = {'Vendedor': ['Ana', 'Paulo', 'Maria', 'Miguel', 'Rafael', 'Ana'],
        'Item': ['Camisa Nike', 'Tênis Adidas', 'Camisa Nike',
                 'Meias Speedo', 'Tênis Nike', 'Camisa Nike'],
        'Valor': [109.90, 299.00, 115.90, 24.99, 289.90, 99.90]}

loja2 = {'Vendedor': ['Ana', 'Fernando', 'Carlos', 'Carlos', 'Carlos', 'Tânia'],
        'Item': ['Camisa Fila', 'Camisa Adidas', 'Camisa Nike',
                 'Camisa Nike', 'Camisa Fila', 'Tênis Mizuno'],
        'Valor': [109.90, 99.00, 115.90, 109.99, 89.90, 199.90]}

data1 = pd.DataFrame(loja1, index = [1,2,3,4,5,6])
data2 = pd.DataFrame(loja2, index = [7,8,9,10,11,12])

print(data1)
print(data2)

  Vendedor          Item   Valor
1      Ana   Camisa Nike  109.90
2    Paulo  Tênis Adidas  299.00
3    Maria   Camisa Nike  115.90
4   Miguel  Meias Speedo   24.99
5   Rafael    Tênis Nike  289.90
6      Ana   Camisa Nike   99.90
    Vendedor           Item   Valor
7        Ana    Camisa Fila  109.90
8   Fernando  Camisa Adidas   99.00
9     Carlos    Camisa Nike  115.90
10    Carlos    Camisa Nike  109.99
11    Carlos    Camisa Fila   89.90
12     Tânia   Tênis Mizuno  199.90

In [ ]:
lojas = pd.concat([data1, data2]) # Irá concatenar os dados dos dois dataframes de origem, sem sobrepor nenhum elemento, pois o segundo dataframe será adicionado logo após o fim do primeiro e assim por diante

print(lojas)

    Vendedor           Item   Valor
1        Ana    Camisa Nike  109.90
2      Paulo   Tênis Adidas  299.00
3      Maria    Camisa Nike  115.90
4     Miguel   Meias Speedo   24.99
5     Rafael     Tênis Nike  289.90
6        Ana    Camisa Nike   99.90
7        Ana    Camisa Fila  109.90
8   Fernando  Camisa Adidas   99.00
9     Carlos    Camisa Nike  115.90
10    Carlos    Camisa Nike  109.99
11    Carlos    Camisa Fila   89.90
12     Tânia   Tênis Mizuno  199.90

In [ ]:
lojas = pd.concat([data1, data2], axis = 1) # Irá concatenar os dados dos dois dataframes de origem, sem sobrepor nenhum elemento, porém o parâmetro axis = 1 define que a concatenação deverá ocorrer de acordo com os valores de índices (das linhas), dessa forma, gerando um dataframe com campos vazios de acordo com a estrutura dos dataframes originais

print(lojas)

   Vendedor          Item   Valor  Vendedor           Item   Valor
1       Ana   Camisa Nike  109.90       NaN            NaN     NaN
2     Paulo  Tênis Adidas  299.00       NaN            NaN     NaN
3     Maria   Camisa Nike  115.90       NaN            NaN     NaN
4    Miguel  Meias Speedo   24.99       NaN            NaN     NaN
5    Rafael    Tênis Nike  289.90       NaN            NaN     NaN
6       Ana   Camisa Nike   99.90       NaN            NaN     NaN
7       NaN           NaN     NaN       Ana    Camisa Fila  109.90
8       NaN           NaN     NaN  Fernando  Camisa Adidas   99.00
9       NaN           NaN     NaN    Carlos    Camisa Nike  115.90
10      NaN           NaN     NaN    Carlos    Camisa Nike  109.99
11      NaN           NaN     NaN    Carlos    Camisa Fila   89.90
12      NaN           NaN     NaN     Tânia   Tênis Mizuno  199.90

Mesclando dados de dois dataframes

In [ ]:
import pandas as pd

loja1 = {'Vendedor': ['Ana', 'Paulo', 'Maria',
                      'Miguel', 'Rafael', 'Ana'],
        'Item': ['Camisa Nike', 'Tênis Adidas',
                 'Camisa Nike', 'Meias Speedo',
                 'Tênis Nike', 'Camisa Nike'],
        'Valor': [109.90, 299.00, 115.90,
                  24.99, 289.90, 99.90]}

loja2 = {'Vendedor': ['Ana', 'Fernando', 'Carlos',
                      'Carlos', 'Carlos', 'Tânia'],
        'Item': ['Camisa Fila', 'Camisa Adidas',
                 'Camisa Nike', 'Camisa Nike',
                 'Camisa Fila', 'Tênis Mizuno'],
        'Valor': [109.90, 99.00, 115.90,
                  109.99, 89.90, 199.90]}

data1 = pd.DataFrame(loja1, index = [1,2,3,4,5,6])
data2 = pd.DataFrame(loja2, index = [7,8,9,10,11,12])

print(data1)
print(data2)

  Vendedor          Item   Valor
1      Ana   Camisa Nike  109.90
2    Paulo  Tênis Adidas  299.00
3    Maria   Camisa Nike  115.90
4   Miguel  Meias Speedo   24.99
5   Rafael    Tênis Nike  289.90
6      Ana   Camisa Nike   99.90
    Vendedor           Item   Valor
7        Ana    Camisa Fila  109.90
8   Fernando  Camisa Adidas   99.00
9     Carlos    Camisa Nike  115.90
10    Carlos    Camisa Nike  109.99
11    Carlos    Camisa Fila   89.90
12     Tânia   Tênis Mizuno  199.90

In [ ]:
lojas2 = pd.merge(data1, data2)

print(lojas2)

Empty DataFrame
Columns: [Vendedor, Item, Valor]
Index: []

In [ ]:
lojas2 = pd.merge(data1, data2, how = 'inner', on = 'Item')

print(lojas2)

  Vendedor_x         Item  Valor_x Vendedor_y  Valor_y
0        Ana  Camisa Nike    109.9     Carlos   115.90
1        Ana  Camisa Nike    109.9     Carlos   109.99
2      Maria  Camisa Nike    115.9     Carlos   115.90
3      Maria  Camisa Nike    115.9     Carlos   109.99
4        Ana  Camisa Nike     99.9     Carlos   115.90
5        Ana  Camisa Nike     99.9     Carlos   109.99

In [ ]:
lojas2 = pd.merge(data1, data2, how = 'outer', on = 'Item')

print(lojas2)

   Vendedor_x           Item  Valor_x Vendedor_y  Valor_y
0         Ana    Camisa Nike   109.90     Carlos   115.90
1         Ana    Camisa Nike   109.90     Carlos   109.99
2       Maria    Camisa Nike   115.90     Carlos   115.90
3       Maria    Camisa Nike   115.90     Carlos   109.99
4         Ana    Camisa Nike    99.90     Carlos   115.90
5         Ana    Camisa Nike    99.90     Carlos   109.99
6       Paulo   Tênis Adidas   299.00        NaN      NaN
7      Miguel   Meias Speedo    24.99        NaN      NaN
8      Rafael     Tênis Nike   289.90        NaN      NaN
9         NaN    Camisa Fila      NaN        Ana   109.90
10        NaN    Camisa Fila      NaN     Carlos    89.90
11        NaN  Camisa Adidas      NaN   Fernando    99.00
12        NaN   Tênis Mizuno      NaN      Tânia   199.90

In [ ]:
lojas2 = pd.merge(data1, data2, how = 'right', on = 'Item')

print(lojas2)

  Vendedor_x           Item  Valor_x Vendedor_y  Valor_y
0        NaN    Camisa Fila      NaN        Ana   109.90
1        NaN    Camisa Fila      NaN     Carlos    89.90
2        NaN  Camisa Adidas      NaN   Fernando    99.00
3        Ana    Camisa Nike    109.9     Carlos   115.90
4      Maria    Camisa Nike    115.9     Carlos   115.90
5        Ana    Camisa Nike     99.9     Carlos   115.90
6        Ana    Camisa Nike    109.9     Carlos   109.99
7      Maria    Camisa Nike    115.9     Carlos   109.99
8        Ana    Camisa Nike     99.9     Carlos   109.99
9        NaN   Tênis Mizuno      NaN      Tânia   199.90

In [ ]:
lojas2 = pd.merge(data1, data2, how = 'left', on = 'Item')

print(lojas2)

  Vendedor_x          Item  Valor_x Vendedor_y  Valor_y
0        Ana   Camisa Nike   109.90     Carlos   115.90
1        Ana   Camisa Nike   109.90     Carlos   109.99
2      Paulo  Tênis Adidas   299.00        NaN      NaN
3      Maria   Camisa Nike   115.90     Carlos   115.90
4      Maria   Camisa Nike   115.90     Carlos   109.99
5     Miguel  Meias Speedo    24.99        NaN      NaN
6     Rafael    Tênis Nike   289.90        NaN      NaN
7        Ana   Camisa Nike    99.90     Carlos   115.90
8        Ana   Camisa Nike    99.90     Carlos   109.99

In [ ]:
lojas2 = pd.merge(data1, data2, on = ['Item', 'Valor'])

print(lojas2)

  Vendedor_x         Item  Valor Vendedor_y
0      Maria  Camisa Nike  115.9     Carlos

Juntando dados de dois dataframes

In [ ]:
loja1 = {'Vendedor1': ['Ana', 'Paulo', 'Maria',
                       'Miguel', 'Rafael', 'Ana'],
        'Item1': ['Camisa Nike', 'Tênis Adidas', 'Camisa Nike',
                  'Meias Speedo', 'Tênis Nike', 'Camisa Nike'],
        'Valor1': [109.90, 299.00, 115.90,
                   24.99, 289.90, 99.90]}

loja2 = {'Vendedor2': ['Ana', 'Fernando', 'Carlos',
                       'Carlos', 'Carlos', 'Tânia'],
        'Item2': ['Camisa Fila', 'Camisa Adidas', 'Camisa Nike',
                  'Camisa Nike', 'Camisa Fila', 'Tênis Mizuno'],
        'Valor2': [109.90, 99.00, 115.90,
                   109.99, 89.90, 199.90]}

data1 = pd.DataFrame(loja1, index = [1,2,3,4,5,6])
data2 = pd.DataFrame(loja2, index = [1,3,5,7,9,11])

print(data1)
print(data2)

  Vendedor1         Item1  Valor1
1       Ana   Camisa Nike  109.90
2     Paulo  Tênis Adidas  299.00
3     Maria   Camisa Nike  115.90
4    Miguel  Meias Speedo   24.99
5    Rafael    Tênis Nike  289.90
6       Ana   Camisa Nike   99.90
   Vendedor2          Item2  Valor2
1        Ana    Camisa Fila  109.90
3   Fernando  Camisa Adidas   99.00
5     Carlos    Camisa Nike  115.90
7     Carlos    Camisa Nike  109.99
9     Carlos    Camisa Fila   89.90
11     Tânia   Tênis Mizuno  199.90

In [ ]:
data3 = data1.join(data2) # Lembrando que aqui estamos agregando os dados do dataframe 2 aos dados do dataframe 1 que é o referencia, de modo que estaremos agregando os elementos que tiverem o mesmo indice entre os dataframes

print(data3)

  Vendedor1         Item1  Valor1 Vendedor2          Item2  Valor2
1       Ana   Camisa Nike  109.90       Ana    Camisa Fila   109.9
2     Paulo  Tênis Adidas  299.00       NaN            NaN     NaN
3     Maria   Camisa Nike  115.90  Fernando  Camisa Adidas    99.0
4    Miguel  Meias Speedo   24.99       NaN            NaN     NaN
5    Rafael    Tênis Nike  289.90    Carlos    Camisa Nike   115.9
6       Ana   Camisa Nike   99.90       NaN            NaN     NaN

In [ ]:
data1 = pd.DataFrame(loja1, index = [1,2,3,4,5,6])
data2 = pd.DataFrame(loja2, index = [7,8,9,10,11,12])

data3 = data1.join(data2) 

print(data3)

  Vendedor1         Item1  Valor1 Vendedor2 Item2  Valor2
1       Ana   Camisa Nike  109.90       NaN   NaN     NaN
2     Paulo  Tênis Adidas  299.00       NaN   NaN     NaN
3     Maria   Camisa Nike  115.90       NaN   NaN     NaN
4    Miguel  Meias Speedo   24.99       NaN   NaN     NaN
5    Rafael    Tênis Nike  289.90       NaN   NaN     NaN
6       Ana   Camisa Nike   99.90       NaN   NaN     NaN

In [ ]:
# Exibindo apenas elementos únicos de uma serie de um dataframe

loja1 = {'Vendedor1': ['Ana', 'Paulo', 'Maria',
                       'Miguel', 'Rafael', 'Ana'],
        'Item1': ['Camisa Nike', 'Tênis Adidas', 'Camisa Nike',
                  'Meias Speedo', 'Tênis Nike', 'Camisa Nike'],
        'Valor1': [109.90, 299.00, 115.90,
                   24.99, 289.90, 99.90]}

loja1 = pd.DataFrame(loja1)

print(loja1['Item1'].unique()) # Retornará apenas os elementos únicos de Item1
print(loja1['Item1'].nunique()) # Retornará o números de elementos únicos de Item1

['Camisa Nike' 'Tênis Adidas' 'Meias Speedo' 'Tênis Nike']
4

In [ ]:
print(loja1['Item1'].value_counts()) # Retornará o número de ocorrências de um determinado elemento, classificando do de maior recorrência para o de menor

Camisa Nike     3
Meias Speedo    1
Tênis Nike      1
Tênis Adidas    1
Name: Item1, dtype: int64